.table-view {
  display: flex;
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
  width: 80vmin;
  height: 80vmin;
}

.back-button {
  text-align: left;
}

.camera-wrapper {
  flex: 1;
  background-color: var(--light-tile);
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-wrapper video,
.camera-wrapper img {
  width: 60%;
  height: 50%;
  object-fit: cover;
}

.pgn-wrapper {
  flex: 1;
  overflow-y: scroll;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  scroll-behavior: smooth;
}

.chessboard-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
