.tile {
  display: grid;
  place-content: center;
  width: 75px;
  height: 75px;
}

.tile .chess-piece {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.black-tile {
  background-color: var(--dark-tile);
}

.white-tile {
  background-color: var(--light-tile);
}

.tile img {
  width: 80px;
}