#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
  }
  